# ===== Model =====
ARK_API_KEY=
MODEL=
BASE_URL=
GRADE_MODEL=

# ===== SiliconFlow API =====
SILICONFLOW_API_KEY=
SILICONFLOW_EMBED_MODEL=
SILICONFLOW_BASE_URL=

# ===== Rerank (可选，不配则自动降级) =====
RERANK_MODEL=
RERANK_BINDING_HOST=
RERANK_API_KEY=

# ===== Milvus =====
MILVUS_HOST=
MILVUS_PORT=
MILVUS_DATABASE=
MILVUS_COLLECTION=

# ===== Tools （可选）=====
AMAP_WEATHER_API=https://restapi.amap.com/v3/weather/weatherInfo
AMAP_API_KEY=your_amap_api_key

#===== MongoDB =====
MONGODB_HOST=
MONGODB_PORT=
MONGODB_DATABASE=
MONGODB_COLLECTION=
MONGODB_USERNAME=
MONGODB_PASSWORD=